/* Estilos gerais para mensagens de erro e sucesso */
.error,
.success {
  position: fixed; /* Define a posição fixa */
  top: 20px; /* Define a distância do topo */
  left: 50%;
  width: 50%;
  margin-top: 8%;
  transform: translateX(-90%); /* Centraliza horizontalmente */
  z-index: 9999;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

.error {
  background: #EF665B;
}

.success {
  background: #84D65A;
}

.error__icon,
.success__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.error__icon path,
.success__icon path {
  fill: #fff; /* Preenchimento branco para ícones */
}

.error__title,
.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff; /* Cor do texto branco */
}

.error__close,
.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path,
.success__close path {
  fill: #fff; /* Preenchimento branco para ícones de fechar */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .error,
  .success {
    margin-top: 12%;
    width: calc(100% - 40px); /* Ajuste a largura conforme necessário */
    left: 20px; /* Define a distância da esquerda */
    right: 20px; /* Define a distância da direita */
    transform: none; /* Remove a centralização horizontal */
  }
}
