.navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    position: relative; /* Added to position the badge correctly */
}

.navbar-nav .nav-item .nav-link .icon {
    margin-right: 8px;
}
.navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
    color: #333;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-item .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
